body {
    margin: 0;
    background-color: #f0f0f0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    border-bottom: 2px solid rgb(25,25,25);

    display: flex;
    align-items: center;       /* vertical centering */
    justify-content: space-between; /* left/right alignment */
    padding: 0 30px;           /* horizontal padding */
    box-sizing: border-box;
    z-index: 1000;
    background: linear-gradient(
            to bottom,
            rgb(17,17,17) 0%,
            rgb(17,17,17) 100%
    );
    transition: height 0.15s ease-in-out, background 0.15s ease-in-out;
}
.navbar.scrolled {
    height: 65px;
    background: linear-gradient(
            to bottom,
            rgb(17,17,17) 0,           /* top 0% solid dark */
            rgb(17,17,17) 85%,          /* still solid until 75% */
            rgba(35,35,35,1) 100%     /* last 25% slightly transparent */
    );
}
html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(25,25,25);
}
.navbar .nav-button {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    background-color: rgba(0,0,0,0);
    color: rgb(200,200,200);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.nav-title {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;         /* name size */
    font-weight: 700;         /* bold name */
    background-color: rgba(0,0,0,0);
    color: rgb(200,200,200);
    border: none;
    cursor: pointer;
    padding: 8px 16px;
}
.content {
    margin-top: 90px; /* pushes content below fixed navbar */
    padding: 20px 40px;
    color: rgb(220,220,220); /* light text for dark background */
    max-width: 900px;
    line-height: 1.6;
}

/* Role inside the button */
.nav-title .nav-role {
    font-weight: 400;        /* thinner than name */
    font-size: 25px;         /* optional smaller size */
    margin-left: 6px;        /* small spacing after name */
}
.nav-right {
    display: flex;
    align-items: center;
}

/* Optional: hover effect */
.nav-button:hover {
    /*background-color: rgba(200,200,200,0.1);*/
    text-decoration: underline;
}