#content-button1, #content-button2, #content-button3, #content-button4, #btn4, #btn5, #btn6 {
    height: 50px;
    width: 300px;
    border: 3px solid black;
    border-radius: 5px;
    
}
.content-window {
    width: 1240px;
    height: 1000px;
    border: 4px solid black;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
}
.canvas-container {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* space between button column and canvas */
}

.button-groups-leftSide {
    display: flex;
    flex-direction: column; /* stack the two groups vertically */
    gap: 20px;
}

.button-group {
    border: 5px solid black;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#projectInfoWindow {
    width: 150px;
    height: 300px;
    border: 4px solid black;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
}
.text-style-button {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    letter-spacing: 0.5px;
}